<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Stash</string>
	<key>CFBundleExecutable</key>
	<string>Stash</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>social.selin.stash</string>
	<key>CFBundleName</key>
	<string>Stash</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Reads the screenshot folder to add new screenshots to your clipboard history. Only used when you turn this on in Settings.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>If your screenshot folder is set to Documents, reads it to add new screenshots to your clipboard history. Only used when you turn this on in Settings.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>If your screenshot folder is set to Downloads, reads it to add new screenshots to your clipboard history. Only used when you turn this on in Settings.</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT licensed</string>
</dict>
</plist>
